.home{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQGthFGqQ16HnRwoYmdUPq2-ZRwoyOZg54zKwXarU3YiM3XWjwc&usqp=CAU");;
    background-size:cover;   
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    background-position: 50% 50%;
    background-attachment: fixed;  
  }
  .welcome{
    text-align: center;
    padding-top: 27%;
    color: white;
  }

  .container{
    color:white;
  }