.home{
    background-image: url("https://bit.ly/2R8K5S0");;
    background-size:cover;   
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    background-position: 50% 50%;
    background-attachment: fixed;  
  }
  .welcome{
    text-align: center;
    padding-top: 27%;
    color: white;
  }

  .container{
    color:white;
  }