<link href="https://fonts.googleapis.com/css?family=Bangers&display=swap" rel="stylesheet">
<nav class="navbar navbar-expand-lg" style="background-color:black">
    <a class="navbar-brand" class="header" routerLink="home"><b>GIT_WEB</b></a>
        
    <a class="nav-item nav-link active" style="color:white" routerLink="home" routerLinkActive='active'>Home<span class="sr-only"></span></a>
    <a class="nav-item nav-link" style="color: white" routerLink="/search" routerLinkActive='active'>Search</a>
    <a class="nav-item nav-link" style="color: white" routerLink="/repos" routerLinkActive='active'>Account</a>
      
  </nav>